
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
body{
    width: 1200px;    
}
.centro{
    width: 70%;
    margin: auto;
}
/* utility class */






/* fine utility class */
.logo{
    height: 60px;
    border-right: 1px black solid;
    padding-right: 15px;
    margin-bottom: 10px;
}

.contenitore-header{
    height: 40px;
    margin-top: 5px;
}
/* inizio table */
li{
    list-style: none;
    display: inline-block;
    margin-left: 7px;
}
/* fine table */

/* section 1  */
.img{
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    height: 270px;
    width: 100%;
    margin-top: 7px;
}

h2{
    font-size: 20px;
}
p{
    font-size: 10px;
}
/* section 2  */
.section-2{
    margin: 7px 0px;
}
.fl{
    float: left;
}
/* contenuto 
.fl>div{
    background-color: rgb(110, 200, 236);
    width: 100%;
    height: 100%;
}
section 2 */

.top{
    margin: 15px 0px;
    height: 50px;
}

.left{
    background-color: rgb(26, 94, 221) ;
    width: 25%;
    padding: 10px 10px 10px 0px;
    height: 300px;
}
.center{
    background-color: rgb(26, 94, 221);
    width: 50%;
    padding: 10px 2px;
    height: 300px;
    
}
.right{
    background-color: rgb(26, 94, 221);
    width: 25%;
    padding: 10px 0px 10px 10px;
    height: 300px;
}
.url-1{
    background: url(../img/img-1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 160px;
}
.url-2{
    background: url(../img/banner-2.jpg);
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 160px;
}
.url-3{
    background: url(../img/img-3.jpg);
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 160px;
}
/* il footer */
.contenitore-footer{
    background-color: rgb(149, 44, 149);
    height: 20px;
    margin-bottom: 7px;
}
